<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <pricepeople>0</pricepeople>
  <pricemechanism>0</pricemechanism>
  <pricestudent>0</pricestudent>
  <webname>OScms管理系统</webname>
  <weburl>http://www.OScms.com/</weburl>
  <weblogo>/upload/201508/07/201508072129543262.png</weblogo>
  <webcompany>OScms管理系统</webcompany>
  <webaddress>北京市丰台区方庄芳城园一区17号楼（日月天地大厦）B座2307室（南二环玉蜓桥往东500米路南）</webaddress>
  <webtel>58076191（92）</webtel>
  <webfax>58076190</webfax>
  <webmail>eryueren@163.com</webmail>
  <webcrod>京ICP备 2922454</webcrod>
  <webtitle>OScms管理系统</webtitle>
  <webkeyword>OScms管理系统</webkeyword>
  <webdescription>OScms管理系统</webdescription>
  <webcopyright>Copyright ©2015 Beijingshi guangchuan lushi shiwusuo All Rights Reserved </webcopyright>
  <webweixin />
  <webweibo />
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>2</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>0</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode />
  <smsapiurl>http://sms.OS.net/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.163.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>yilang1102@163.com</emailfrom>
  <emailusername />
  <emailpassword>8DFCE53AC4B3A880</emailpassword>
  <emailnickname>123456</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,pdf</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>0</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>100</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>eryueren</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>os_</sysdatabaseprefix>
  <sysencryptstring>OS</sysencryptstring>
</siteconfig>